@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  background: #f9fafb;
}

html.dark {
  background: #030712;
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
